asgiref==3.4.0
beautifulsoup4==4.9.3
certifi==2021.10.8
charset-normalizer==2.0.8
cloudinary==1.28.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==3.2.5
django-bootstrap3==15.0.0
django-bootstrap5==2.0.1
django-heroku==0.3.1
gunicorn==20.1.0
idna==3.3
Pillow==8.3.0
psycopg2==2.9.1
python-decouple==3.4
pytz==2021.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.7
whitenoise==5.2.0
