{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        {%if photos%}
        <h2>Found {{photos|length}} of searched term {{message}}</h2>
        {%else%}
        <h2>Found 0 photos for the search term {{message}}</h2>
        {%endif%}
    </div>
    <div class="row">
        {%if photos%}
        {%for photo in photos%}
        
        <div class="col-md-4">
        
            <img style="max-width: 50%; max-height: 50%;" src="{{photo.image.url}}" alt="">
        </div>
            <div class="col-md-6">

            <div class="card" style="width: 18rem; margin-top: 20px;">
                <div class="card-body">
                    <p>{{photo.description}}</p>
                    <p>Location: {{photo.location}}</p>
                   </div>
            </div>
            </div>
    </div>
    {%endfor%}
    {%endif%}

</div>
</div>
{%endblock%}